* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: aquamarine;
}

.header ul {
  display: flex;
  gap: 1rem;
}
.header .links {
  margin-left: auto;
}

.header ul li {
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: black;
}

.movie {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  max-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.movie-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.movie-list .movie {
  padding: 10px;
}
.pagination {
  display: flex;
  gap: 5px;
}

.pagination button {
  padding: 5px;
  border: 1px solid #ccc;
  padding: 5px;

  /* border-radius: 5px; */
}

.pagination button.active {
  background-color: aquamarine;
}

.pagination-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container {
  display: flex;
  gap: 1em;
  padding: 10px 50px;
}
.container .right-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container.left-section {
  width: 40%;
  display: flex;
}
.container .right-section input {
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
}

.container .right-section table {
  width: 100%;
}
.genre-list {
  display: flex;
  flex: 1;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: column;
}
.genre-list .genre {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color:#1c0000;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
